<aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        {% for new in New_Article %}
                            <li>
                                <a href="{% url 'MyBlog:single' new.id %}">{{ new.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
{#                <div class="widget widget-archives">#}
{#                    <h3 class="widget-title">归档</h3>#}
{#                    <ul>#}
{#                        <li>#}
{#                            <a href="#">2017 年 5 月</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">2017 年 4 月</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">2017 年 3 月</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% for cate in Category %}
                            <li>
                                <a href="#">{{ cate.cname }} <span class="post-count">({{ cate.counts }})</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% for t in Tags %}
                            <li>
                                <a href="#">{{ t.tname }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
</aside>